.table-disp{display:table;width:100%}.table-cell{display:table-cell;vertical-align:top}.valignTop{vertical-align:top}.valignMid{vertical-align:middle}.valignBot{vertical-align:bottom}img{vertical-align:middle;float:none}.img-sq-25{width:25px;height:25px}.max-wid-25{max-width:25px}.wid-25{width:25px}.img-sq-50{width:50px;height:50px}.max-wid-50{max-width:50px}.wid-50{width:50px}.img-sq-75{width:75px;height:75px}.max-wid-75{max-width:75px}.wid-75{width:75px}.img-sq-100{width:100px;height:100px}.max-wid-100{max-width:100px}.wid-100{width:100px}.img-sq-125{width:125px;height:125px}.max-wid-125{max-width:125px}.wid-125{width:125px}.img-sq-150{width:150px;height:150px}.max-wid-150{max-width:150px}.wid-150{width:150px}.img-sq-175{width:175px;height:175px}.max-wid-175{max-width:175px}.wid-175{width:175px}.img-sq-200{width:200px;height:200px}.max-wid-200{max-width:200px}.wid-200{width:200px}.img-sq-20{width:20px;height:20px}.max-wid-20{max-width:20px}.img-sq-40{width:40px;height:40px}.max-wid-40{max-width:40px}.img-sq-60{width:60px;height:60px}.max-wid-60{max-width:60px}.img-sq-80{width:80px;height:80px}.max-wid-80{max-width:80px}.nopad{padding:0 !important;}.mg-5{margin:5px}.mg-top-5{margin-top:5px}.mg-bot-5{margin-bottom:5px}.mg-lt-5{margin-left:5px}.mg-rt-5{margin-right:5px}.mg-10{margin:10px}.mg-top-10{margin-top:10px}.mg-bot-10{margin-bottom:10px}.mg-lt-10{margin-left:10px}.mg-rt-10{margin-right:10px}.mg-15{margin:15px}.mg-top-15{margin-top:15px}.mg-bot-15{margin-bottom:15px}.mg-lt-15{margin-left:15px}.mg-rt-15{margin-right:15px}.mg-20{margin:20px}.mg-top-20{margin-top:20px}.mg-bot-20{margin-bottom:20px}.mg-lt-20{margin-left:20px}.mg-rt-20{margin-right:20px}.mg-25{margin:25px}.mg-top-25{margin-top:25px}.mg-bot-25{margin-bottom:25px}.mg-lt-25{margin-left:25px}.mg-rt-25{margin-right:25px}.mg-30{margin:30px}.mg-top-30{margin-top:30px}.mg-bot-30{margin-bottom:30px}.mg-lt-30{margin-left:30px}.mg-rt-30{margin-right:30px}.mg-35{margin:35px}.mg-top-35{margin-top:35px}.mg-bot-35{margin-bottom:35px}.mg-lt-35{margin-left:35px}.mg-rt-35{margin-right:35px}.mg-40{margin:40px}.mg-top-40{margin-top:40px}.mg-bot-40{margin-bottom:40px}.mg-lt-40{margin-left:40px}.mg-rt-40{margin-right:40px}.mg-45{margin:45px}.mg-top-45{margin-top:45px}.mg-bot-45{margin-bottom:45px}.mg-lt-45{margin-left:45px}.mg-rt-45{margin-right:45px}.mg-50{margin:50px}.mg-top-50{margin-top:50px}.mg-bot-50{margin-bottom:50px}.mg-lt-50{margin-left:50px}.mg-rt-50{margin-right:50px}.noMargin{margin:0 !important}.pad-5{padding:5px}.pad-top-5{padding-top:5px}.pad-bot-5{padding-bottom:5px}.pad-lt-5{padding-left:5px}.pad-rt-5{padding-right:5px}.pad-10{padding:10px}.pad-top-10{padding-top:10px}.pad-bot-10{padding-bottom:10px}.pad-lt-10{padding-left:10px}.pad-rt-10{padding-right:10px}.pad-15{padding:15px}.pad-top-15{padding-top:15px}.pad-bot-15{padding-bottom:15px}.pad-lt-15{padding-left:15px}.pad-rt-15{padding-right:15px}.pad-20{padding:20px}.pad-top-20{padding-top:20px}.pad-bot-20{padding-bottom:20px}.pad-lt-20{padding-left:20px}.pad-rt-20{padding-right:20px}.pad-25{padding:25px}.pad-top-25{padding-top:25px}.pad-bot-25{padding-bottom:25px}.pad-lt-25{padding-left:25px}.pad-rt-25{padding-right:25px}.pad-30{padding:30px}.pad-top-30{padding-top:30px}.pad-bot-30{padding-bottom:30px}.pad-lt-30{padding-left:30px}.pad-rt-30{padding-right:30px}.pad-35{padding:35px}.pad-top-35{padding-top:35px}.pad-bot-35{padding-bottom:35px}.pad-lt-35{padding-left:35px}.pad-rt-35{padding-right:35px}.pad-40{padding:40px}.pad-top-40{padding-top:40px}.pad-bot-40{padding-bottom:40px}.pad-lt-40{padding-left:40px}.pad-rt-40{padding-right:40px}.pad-45{padding:45px}.pad-top-45{padding-top:45px}.pad-bot-45{padding-bottom:45px}.pad-lt-45{padding-left:45px}.pad-rt-45{padding-right:45px}.pad-50{padding:50px}.pad-top-50{padding-top:50px}.pad-bot-50{padding-bottom:50px}.pad-lt-50{padding-left:50px}.pad-rt-50{padding-right:50px}.font80{font-size:.8em !important}.font90{font-size:.9em !important}.font100{font-size:1em !important}.font110{font-size:1.1em !important}.font120{font-size:1.2em !important}.font130{font-size:1.3em !important}.font140{font-size:1.4em !important}.font150{font-size:1.5em !important}.font160{font-size:1.6em !important}.font170{font-size:1.7em !important}.font180{font-size:1.8em !important}.font190{font-size:1.9em !important}

.top, .right, .bottom, .left {
    line-height: .91;
    height: 20px;
	color:#F79542;
    cursor: pointer;
}
.fa-caret-down:before{
line-height: .4;
}
 .fa-caret-up:before {
line-height: 1;
}

.pink-bg{
	background:#F842B5 !important;
}
.blue-bg{
	background:#2B76CA !important;
}
.orange-bg{
	background:#F79542 !important;
}
.green-bg{
	background:#1bcd7f !important;
}
.pink-color{
	color:#F842B5 !important;
}
.blue-color{
	color:#2B76CA !important;
}
.orange-color{
	color:#F79542 !important;
}
.green-color{
	color:#1bcd7f !important;
}
.mce-container,.mce-panel {
	z-index:2147483650 !important;
}
.mce-container{
	left:0;
}

td.srno{
  display: none;
}

textarea{
  width: 100%;
}
#Logout{
	    float: right;
    background-color: white;
    border: 1px solid #2b76ca;
    border-radius: 5px;
    font-size: 18px;
    padding: 6px;
    color: #2b76ca;
}

#toggleCode{
	    
    background-color: white;
    border: 1px solid #2b76ca;
    border-radius: 5px;
    font-size: 18px;
    padding: 6px;
    color: #2b76ca;
}
